<div>
    <form  class="form-horizontal" (ngSubmit)="addProject()">
      <div class="form-group">
        <label class="control-label col-sm-3" for="input-title">Name: </label>
        <div class="col-sm-6">
          <input class="form-control" name="input-name" id="input-name" [(ngModel)]="project.name"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="input-cathegory">Category: </label>
        <div class="col-sm-6">
          <select class="form-control" name="input-category" id="input-category"  [(ngModel)]="project.category">
            <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
          </select>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-3" for="input-image-url">imageUrl: </label>
        <div class="col-sm-6">
          <input class="form-control" name="input-image-url" id="input-image-url" [(ngModel)]="project.imageUrl"/>
        </div>
      </div>
        

        <div class="form-group">
          <label class="control-label col-sm-3" for="input-description">Description: </label>
          <div class="col-sm-6">
            <input class="form-control" name="input-description" id="input-description" [(ngModel)]="project.description" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3" for="input-startDate"> Start Date: </label>
          <div class="col-sm-6">
            <input class="form-control" name="input-startDate" id="input-startDate" [(ngModel)]="project.startDate" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3" for="input-endDate"> End Date: </label>
          <div class="col-sm-6">
            <input class="form-control" name="input-endDate" id="input-endDate" [(ngModel)]="project.endDate" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3" for="input-expectedSum">Expected Sum:
          </label>
          <div class="col-sm-6">
            <input class="form-control" name="input-expectedSum" id="input-expectedSum" [(ngModel)]="project.expectedSum" />
          </div>
        </div>

        <div class="form-group " >
          <input class="btn btn-primary" type="submit" value="save" />
        </div>
    
    </form>
</div>
