<div class="pull-right">
    <div class="btn-group">
        <button class="btn btn-default" [disabled]="currentPage<1" (click)="changePage(-1)">
            <</button> <button class="btn btn-default" [disabled]="currentPage>numberOfPages-2" (click)="changePage(1)">>
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Category</th>
                <th class="text-center">Description</th>
            </tr>
            <tr *ngFor="let p of projects" class="text-center">
                <td>{{p.name}}</td>
                <td>{{p.category.name}}</td>
                <td>
                    <a class="btn btn-primary" href="projects/{{p.id}}">Details</a>
                </td>
            </tr>
        </table>
    </div>
</div>
