
<h1>{{project.name}}</h1>
<h2>{{project.category.name}}</h2>
<div><img class="img-rounded" width="200" height="200" src="{{project.imageUrl}}"></div>
<br>
<hr>
<div class="table">
    <tr>
        <th>start date</th>
        <th>end date</th>
        <th>expected sum</th>
        <th>collected sum</th>
    </tr>
    <tr class="text-center">
        <td>{{project.startDate}}</td>
        <td>{{project.endDate}}</td>
        <td>{{project.expectedSum}}</td>
        <td>{{project.collectedSum}}</td>
    </tr>
</div>



<button class="btn btn-primary" (click)="showDonationForm()">Donate</button>

<div *ngIf=donationClicked class="row">
    <div class="col-md-3">
        <form (ngSubmit)="verifyDonation()">
            <!--  treba funkija da se napravi -->
            <label>Amount for donation:</label>
            <input type="text" id="amount" class="form-control" name="username" [(ngModel)]="donatedAmount" placeholder="0">
            <button class="btn btn-primary btn-block" type="submit">Are you shore?</button>
        </form>
    </div> 
</div>
<br>
<br>
<!-- </div> -->