<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main">Projects</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      
      <ul class="nav navbar-nav pull-right">
        <li *ngIf="!isLoggedIn()"><a href="login">Login</a></li>
        <li *ngIf="isLoggedIn()"><a style="cursor:pointer" (click)="logOut()">Logout</a></li>
        <li><a (click)=check() href="add" >New project</a></li>
        <!-- <li><a href="" (click)="logOut()">logout</a></li>
        <li><a href="projects/{{n.id}}" >New project</a></li> -->
      </ul>
    
    </div><!--/.nav-collapse -->
  </div>
</nav>
<br>
<br>
<br>
<div class="container theme-showcase" role="main">    
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>

  <router-outlet></router-outlet>
</div>

